@{
    ViewBag.Title = "Home Page";
}

<div>
    <p align="center" class="lead" title="Logo"><img src="~/Images/logo.png" /></p>
</div>

<div class="row" align="center">
    <div class="col-md-4">
        <h1>Hi Becka!<h1>
        <h2>People</h2>
        <p>
            Add Athletes, Coaches, and Admin
        </p>
        <p><a class="btn btn-default" href="/People">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Add Event Times for Athletes</p>
        <p><a class="btn btn-default" href="/Events">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search for Athletes, Coaches, and Admin</p>
        <p><a class="btn btn-default" href="/People/Search">Click Here &raquo;</a></p>
    </div>
</div>
