@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Success! You have created an Admin!</h2>

<div class="col-md-12" id="adminHomeItem" style="margin-bottom: 20px !important;">
    <a href="~/Admin/Home/Index">
        <h3>Return to Home Page?</h3>
    </a>
</div>