@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Uh Oh! Something went wrong.</h2>

<div class="col-md-12" id="adminHomeItem" style="margin-bottom: 20px !important;">
    <a href="~/Account/RegisterCoach">
        <h3>Try Again?</h3>
    </a>
</div>