@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6" id="credits">
        <div align="center">
            <img src="~/Images/companyLogo.png" alt="companyLogo" id="companyLogo">
        </div>
        <hr />
        <h1 align="center" style="color: white;">Credits</h1>
        <hr />
        <div class="text">
            <h4 align="center" style="color: white;">Purpose for Project</h4>
            <p class="vision">
                For teams and coaches looking to bring their athletes' strength training performance to the next level, Peak Performance is designed to tailor a variety of workouts to the athlete, keep athletes and coaches on the same page about training, and help athletes and coaches set training goals and make plans to accomplish them. Peak Performance will provide continuous workout programs tailored to an athlete's specific needs and abilities, exercise tracking, and interfacing with FitBit watches to allow for a well-rounded strength training experience for all athletes. Unlike many other strength training apps that are bogged down with features and add-ons that are never used, our product strives to serve our customers in the simplest, but most effective ways; helping athletes achieve their goals and helping teams grow closer as they do it.
            </p>
            <h4 align="center" style="color: white;">Location</h4>
            <p class="vision" align="center">
                Western Oregon University CS460-462 Software Engineering I, II and III, Senior Capstone
            </p>
            <h4 align="center" style="color: white;">Team</h4>
            <p class="vision">
                Members of the 404 Not Found Senior Capstone Team are:
            </p>
            <ul>
                <li>Joe Collinsworth</li>
                <li>Shay Green</li>
                <li>Megan Traeger</li>
                <li>Sodara Y</li>
            </ul>
            <h4 align="center" style="color: white;">GitHub</h4>
            <p class="vision" align="center">
                A link to our repository can be found <a href="https://github.com/jmcworth/404notfoundproj" id="creditsLink">here</a>.
            </p>
            <h4 align="center" style="color: white;">Tools</h4>
            <p class="vision" align="center">
                This repository also includes a summary of tools used to complete this project as well as contributing requirements.
            </p>
        </div>
    </div>
</div>