@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SendEmail";
}
<form method = "post" action="SendEmail"> 
    <div class = "container"> 
        <span class = "form-control-static"> Receiver: </span> 
        <input class = "form-control"type ="text" name = "receiver"/> <br /> 
        <span class = "form-control-static"> Subject: </span> 
    <input class = "form-control" type = "text" name = "subject" /> <br /> 
    <span class = "form-control-static"> Message: </span> 
    <input class = "form-control" type = "text" name = "message"/> <br/> 
    <input class = "btn btn-primary" type = "submit" value = "Send" /> 
        </div> 
</form>


