@model IEnumerable<Peak_Performance.Models.Athlete>

@{
    ViewBag.Title = "All Athletes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 align="center">All Athletes</h2>
<hr />

<table class="table table-bordered table-hover table-striped">
    <thead align="center">
        <tr>
            <th>
                Athlete Name
            </th>
            <th>
                Athlete Gender
            </th>
            <th>
                Athlete Team
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName) @Html.DisplayFor(modelItem => item.Person.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.TeamName)
                </td>
            </tr>
        }
    </tbody>
</table>