@model IEnumerable<Peak_Performance.Models.Team>

@{
    ViewBag.Title = "All Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">All Teams</h2>
<hr />

<table class="table table-bordered table-hover table-striped">
    <thead align="center">
        <tr>
            <th>
                Team Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
            </tr>
        }
    </tbody>
</table>